.choice {
    margin: 25px;
    width:200px;
    height:50px;
    border:3px solid black;
    border-radius:5px;
    text-align: center;
    font-weight: 700;
    font-size: 200%;
}

/* 
Use the following for percents - from http://jsfiddle.net/kQQs2/
    background: -webkit-linear-gradient(left, blue 30%, white 30%);
    background: -moz-linear-gradient(left, blue 30%, white 30%);
    background: -ms-linear-gradient(left, blue 30%, white 30%);
    background: linear-gradient(left, blue 30%, white 30%);
*/

.choice.selected {
    background-color: yellow;
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAJElEQVQIW2P8/4nhP8NRBgYGawYGxv/bgRwgAwQYwTIgAJQFAPJvCpn3COdBAAAAAElFTkSuQmCC) repeat;
}