<template name="pollView">
  <h3>Poll: <span id="pollTitle" contenteditable="{{isOwner poll._id currentUser}}">{{poll.title}}</span></h3>
  {{#each choices}}
    {{>choice}}
  {{/each}}
  
  {{#if isOwner poll._id currentUser}}
    <button class="btn btn-danger delete-poll">Delete Poll</button>
    <button class="btn btn-danger add-choice">Add Choice</button>
  {{/if}}
</template>

<template name="choice">
  <div class="choice" id="{{_id}}" style="background: linear-gradient(to right, {{color}} {{responsePercent _id poll}}%, white {{responsePercent _id poll}}%);">
    <span class="choice-text" contenteditable="{{isOwner poll currentUser}}">{{text}}</span>
    {{#if isOwner poll currentUser}}
      <span class="glyphicon glyphicon-remove-sign remove-choice"></span>
    {{/if}}
  </div>
  
</template>